# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\我的文件\webSS\code_exercise\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
